# enable_clock = true
# enable_pulse = true
# enable_counter = true
# enable_delayer = true
# enable_toggle = true
# enable_button = true
# enable_switch = true
# enable_inv_checker = true
# enable_transmitter = true
# enable_receiver = true
# enable_pplate = true
# enable_multiplexer = true
